html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}
#site-wrapper {margin: 0; height: 100vh; width: 100vw; overflow: hidden}

.clear {
  opacity: 0;
}

.social-container {
  position: fixed;
  height: 50px;
  width: 250px;
  text-align: center;
  left: calc(50vw - 125px);
  top: calc(88vh - 25px);
}

.social-container div {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px;
  transition: transform .2s ease-in;
}

.github {
  background-image: url(../images/github.svg);
  background-size: 100% 100%;
  left: 0;
  cursor: pointer;
}

.linkedin {
  background-image: url(../images/linkedin.svg);
  background-size: 100% 100%;
  left: calc(50% - 25px);
  cursor: pointer;
}

.facebook {
  background-image: url(../images/facebook.svg);
  background-size: 100% 100%;
  right: 0;
  cursor: pointer;
}

.scale {
  transform: scale(1.2);
}

/*NAVBUTTONS*/

.contact-holder {
  position: absolute;
  height: 9vh;
  width: 100vw;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
}

.contact-target {
  display: inline-block;
  vertical-align: center;
  height: 9vh;
  position: relative;
  width: 20px;
  transition: width .5s ease-in-out;
}

.contact-target div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 28px;
  padding-top: calc(4.5vh - 14px);
}

.contact-hover {
  position: absolute;
  height: 9vh;
  width: 12vw;
  left: 44vw;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.black {
  z-index: 1;
}

.contactAnimation {
  width: 14vw;
}

.red {
  color: red;
}

.red-shake {
  animation: shakeRed 1.5s infinite;
}

.blue {
  color: blue;
}

.blue-shake {
  animation: shakeBlue 1.5s infinite;
}

.c1 {
  transition-delay: .0s;
}
.c2 {
  transition-delay: .05s;
}
.c3 {
  transition-delay: .1s;
}
.c4 {
  transition-delay: .15s;
}
.c5 {
  transition-delay: .1s;
}
.c6 {
  transition-delay: .05s;
}
.c7 {
  transition-delay: .0s;
}

/*-----END CONTACT-------*/

.work-holder {
  position: absolute;
  height: 9vh;
  width: 100vw;
  left: calc(50vw - 4.5vh);
  top: 45.5vh;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
  transform: rotate(90deg);
}

.work-target {
  display: inline-block;
  vertical-align: center;
  height: 9vh;
  position: relative;
  width: 20px;
  transition: width .5s ease-in-out;
}

.work-target.W {
  margin-right: 5px;
}

.work-target div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 28px;
  padding-top: calc(4.5vh - 14px);
}

.work-hover {
  position: absolute;
  height: 9vh;
  width: 12vw;
  left: 44vw;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.black {
  z-index: 1;
}

.workAnimation {
  width: 24vh;
}

.red {
  color: red;
}

.red-shake {
  animation: shakeRed 1.5s infinite;
}

.blue {
  color: blue;
}

.blue-shake {
  animation: shakeBlue 1.5s infinite;
}

.w1 {
  transition-delay: .0s;
}
.w2 {
  transition-delay: .1s;
}
.w3 {
  transition-delay: .1s;
}
.w4 {
  transition-delay: .0s;
}

/*END WORK*/

.about-holder {
  position: absolute;
  height: 9vh;
  width: 100vw;
  left: calc(-50vw + 4.5vh);
  top: 45.5vh;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
  transform: rotate(-90deg);
}

.about-target {
  display: inline-block;
  vertical-align: center;
  height: 9vh;
  position: relative;
  width: 20px;
  transition: width .5s ease-in-out;
}

.about-target.W {
}

.about-target div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 28px;
  padding-top: calc(4.5vh - 14px);
}

.about-hover {
  position: absolute;
  height: 9vh;
  width: 12vw;
  left: 44vw;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.black {
  z-index: 1;
}

.aboutAnimation {
  width: 19vh;
}

.red {
  color: red;
}

.red-shake {
  animation: shakeRed 1.5s infinite;
}

.blue {
  color: blue;
}

.blue-shake {
  animation: shakeBlue 1.5s infinite;
}

.red-shake-interval {
  animation: shakeRed 1s infinite;
}

.blue-shake-interval {
  animation: shakeBlue 1s infinite;
}

.w1 {
  transition-delay: .0s;
}
.w2 {
  transition-delay: .05s;
}
.w3 {
  transition-delay: .1s;
}
.w4 {
  transition-delay: .05s;
}
.w5 {
  transition-delay: .0s;
}

@keyframes shakeRed {
  0% {
    transform: translate(-2px,1px);
  }
  13.9% {
    transform: translate(-1px, -1px);
  }
  14% {
    transform: translate(1px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  14.9% {
    transform: translate(0px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  15% {
    transform: translate(0px,-1px);
  }
  22.9% {
    transform: translate(-1px,1px);
  }
  23% {
    transform: translate(0px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  24.9% {
    transform: translate(0px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  25% {
    transform: translate(-1px,-1px);
  }
  34.9% {
    transform: translate(1px,1px);
  }
  35% {
    transform: translate(-1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  39.5% {
    transform: translate(0px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  40% {
    transform: translate(1px,0px);
  }
  42.9% {
    transform: translate(0px,1px);
  }
  43% {
    transform: translate(-2px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  44.9% {
    transform: translate(1px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  45% {
    transform: translate(1px,1px);
  }
  50% {
    transform: translate(0px,-2px);
  }
  54.9% {
    transform: translate(-1px,-1px);
  }
  55% {
    transform: translate(0px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  69.4% {
    transform: translate(1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  69.5% {
    transform: translate(1px,-1px);
  }
  69.5% {
    transform: translate(-1px,-2px);
  }
  70% {
    transform: translate(0px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  79.4% {
    transform: translate(-1px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  79.5% {
    transform: translate(-2px,-1px);
  }
  80% {
    transform: translate(1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  89.8% {
    transform: translate(1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  89.5% {
    transform: translate(-2px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  90% {
    transform: translate(-2px,0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    transform: translate(-1px,1px);
  }
}

@keyframes shakeBlue {
  0% {
    transform: translate(1px,-2px);
  }
  13.9% {
    transform: translate(0px,1px);
  }
  14% {
    transform: translate(-2px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  14.9% {
    transform: translate(-1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  15% {
    transform: translate(0px,1px);
  }
  22.9% {
    transform: translate(0px,-2px);
  }
  23% {
    transform: translate(-2px,0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  24.9% {
    transform: translate(0px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  25% {
    transform: translate(0px,-1px);
  }
  34.9% {
    transform: translate(-2px,1px);
  }
  35% {
    transform: translate(-2px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  39.5% {
    transform: translate(-2px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  40% {
    transform: translate(1px,1px);
  }
  42.9% {
    transform: translate(-2px,0px);
  }
  43% {
    transform: translate(-1px,0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  44.9% {
    transform: translate(0px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  45% {
    transform: translate(-1px,0px);
  }
  50% {
    transform: translate(-1px,1px);
  }
  54.9% {
    transform: translate(0px,1px);
  }
  55% {
    transform: translate(-2px,0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  69.4% {
    transform: translate(-2px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  69.5% {
    transform: translate(0px,1px);
  }
  69.5% {
    transform: translate(-1px,0px);
  }
  70% {
    transform: translate(1px,-1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  79.4% {
    transform: translate(-2px,1px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  79.5% {
    transform: translate(-2px,-1px);
  }
  80% {
    transform: translate(-1px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  89.8% {
    transform: translate(0px,0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  89.5% {
    transform: translate(-2px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  90% {
    transform: translate(-2px,-2px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    transform: translate(1px,1px);
  }
}