.lightPost {
  transform-style: preserve-3d;
  height: 20vh;
  width: .2vw;
  position: absolute;
  left: 49.9vw;
  top: 0;
  background-color: black;
}

.lightPost.p1 {
  transform: rotateY(22.5deg);
}

.lightPost.p2 {
  transform: rotateY(45deg);
}

.lightPost.p3 {
  transform: rotateY(67.5deg);
}

.lightPost.p4 {
  transform: rotateY(90deg);
}

.lightPost.p5 {
  transform: rotateY(-22.5deg);
}

.lightPost.p6 {
  transform: rotateY(-45deg);
}

.lightPost.p7 {
  transform: rotateY(-67.5deg);
}

.lightBase {
  transform-style: preserve-3d;
  height: 1vh;
  width: .6vw;
  position: absolute;
  left: 49.7vw;
  top: 19vh;
  background-color: black;
  z-index: 101;
}

.lightBase.p1 {
  transform: rotateY(22.5deg);
}

.lightBase.p2 {
  transform: rotateY(45deg);
}

.lightBase.p3 {
  transform: rotateY(67.5deg);
}

.lightBase.p4 {
  transform: rotateY(90deg);
}

.lightBase.p5 {
  transform: rotateY(-22.5deg);
}

.lightBase.p6 {
  transform: rotateY(-45deg);
}

.lightBase.p7 {
  transform: rotateY(-67.5deg);
}

.lightBulb {
  transform-style: preserve-3d;
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  position: absolute;
  left: 49.4vw;
  top: 20vh;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 40px 5px rgba(255,255,255,1);
  box-shadow: 0px 0px 6px 0px rgba(255,255,255,1);
}

.lightBulb.x1 {
  transform: rotateY(0deg);
}

.lightBulb.x2 {
  transform: rotateY(10deg);
}

.lightBulb.x3 {
  transform: rotateY(20deg);
}

.lightBulb.x4 {
  transform: rotateY(30deg);
}

.lightBulb.x5 {
  transform: rotateY(40deg);
}

.lightBulb.x6 {
  transform: rotateY(50deg);
}

.lightBulb.x7 {
  transform: rotateY(60deg);
}

.lightBulb.x8 {
  transform: rotateY(70deg);
}

.lightBulb.x9 {
  transform: rotateY(80deg);
}

.lightBulb.x10 {
  transform: rotateY(90deg);
}

.lightBulb.x11 {
  transform: rotateY(100deg);
}

.lightBulb.x12 {
  transform: rotateY(110deg);
}

.lightBulb.x13 {
  transform: rotateY(120deg);
}

.lightBulb.x14 {
  transform: rotateY(130deg);
}

.lightBulb.x15 {
  transform: rotateY(140deg);
}

.lightBulb.x16 {
  transform: rotateY(150deg);
}

.lightBulb.x17 {
  transform: rotateY(160deg);
}

.lightBulb.x18 {
  transform: rotateY(170deg);
}

.lightBulb.x19 {
  transform: rotateY(180deg);
}