.anchor {
	font-size: 3vw;
}

.holder {
	perspective: 200px;
	height: 100%;
	width: 100%;
	position: relative;
	transform-style: preserve-3d;
}

.layer-1 {
	position: absolute;
	transform: translateZ(-.5vh);
}

.layer-2 {
	position: absolute;
	transform: translateZ(-.45vh);
}

.layer-3 {
	position: absolute;
	transform: translateZ(-.4vh);
}

.layer-4 {
	position: absolute;
	transform: translateZ(-.35vh);
}

.layer-5 {
	position: absolute;
	transform: translateZ(-.3vh);
}

.layer-6 {
	position: absolute;
	transform: translateZ(-.25vh);
}

.layer-7 {
	position: absolute;
	transform: translateZ(-.2vh);
}

.layer-8 {
	position: absolute;
	transform: translateZ(-.15vh);
}

.layer-9 {
	position: absolute;
	transform: translateZ(-.1vh);
}

.layer-10 {
	position: absolute;
	transform: translateZ(-.05vh);
}

.layer-11 {
	position: absolute;
	transform: translateZ(0vh);
}

.layer-12 {
	position: absolute;
	transform: translateZ(.05vh);
}

.layer-13 {
	position: absolute;
	transform: translateZ(.1vh);
}

.layer-14 {
	position: absolute;
	transform: translateZ(.15vh);
}

.layer-15 {
	position: absolute;
	transform: translateZ(.2vh);
}

.layer-16 {
	position: absolute;
	transform: translateZ(.25vh);
}

.layer-17 {
	position: absolute;
	transform: translateZ(.3vh);
}

.layer-18 {
	position: absolute;
	transform: translateZ(.35vh);
}

.layer-19 {
	position: absolute;
	transform: translateZ(.4vh);
}

.layer-20 {
	position: absolute;
	transform: translateZ(.45vh);
}