body {
	background-image: url(../images/light_wool.png);
}

/*-------------------*/
/*Cube Animation Area*/
/*-------------------*/

.scene {
  width: 100vw;
  height: 91vh;
  margin: 0 auto 0;
  perspective: 40000px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .8s cubic-bezier(.58,.07,.35,1.04);
}

.cube.left-view {
	transform: rotateY(90deg);
}

.cube.back-view {
	transform: rotateY(180deg);
}

.cube.top-view {
	transform: rotateX(-90deg);
}

.cube.right-view {
	transform: rotateY(-90deg);
}

.cube.bottom-view {
	transform: rotateX(90deg);
}

.side {
	padding: 0 15vw 0 15vw;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../images/light_wool.png);
  font: 50px/1 'Trebuchet MS', sans-serif;
  color: #0E121A;
  text-transform: uppercase;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

.back {
  transform: translateZ(-50vw) rotateY(180deg);
}
.top {
  transform: translateY(-50vh) rotateX(90deg);
}
.bottom {
  transform: translateY(50vh) rotateX(-90deg);
}
.front {
  transform: translateZ(50vw);
}
.left {
	transform: translateX(-50vw) rotateY(-90deg);
}
.right {
	transform: translateX(50vw) rotateY(90deg);
}
.top, .bottom {
  background-color: rgba(105, 136, 190, 0.5)
}

/*-------------------*/
/*Menu Animation Area*/
/*-------------------*/


.footContainer {
	height: 9vh;
	width: 100vw;
	padding-left: 20vw;
	background-image: url(../images/ep_naturalblack.png);
	position: relative;
	z-index: 20;
}

.navButton {
	cursor: pointer;
	padding-top: 3vh;
	font-size: 3vh;
	color: white;
	width: 10vw;
	float: left;
	text-align: center;
}

.navButton:hover {
	text-shadow: 0 0 10px #fff;
}

.active {
	text-shadow: 0 0 10px #fff;
	margin-top: -5px;
	border-radius: 50px;
	border-top: 5px	solid #0E121A;
}

/*-------------------*/
/*Test Area*/
/*-------------------*/

.testFont {
	font-size: 2vh; 
	color: black; 
	padding-top: 25vh;
}

#test {
	animation: shootingStar .7s linear 0s infinite;
}

@keyframes shootingStar {
	0% {transform: translateX(0px);}
	100% {transform: translateX(85vw) translateY(85vh);}
}