.topContainer {
	border-radius: 25px;
	background-image: url("../images/containerBG.png");
	background-repeat: repeat;
	overflow: hidden;
	margin: 10px 10px 10px 10px;
	width: 960px;

}

.myNameContainer {
	float: left;
	height: 60px;
	width: 230px;
	background-image: url("../images/confectionary.png");
	border-radius: 16px;
	padding: 0 40px 0 40px;
	margin: 10px 0 10px 12px;
	position: relative;
}

.myName {
	position: absolute;
	bottom: 8px;
	right: 13px;
}


.pageNav {
	float: right;
	padding-top: 20px;
	padding-right: 50px;

}

.pageLinks {
	background-image: url("../images/confectionary.png");
	border-radius: 10px;
	float: right;
	padding: 4px 10px 4px 10px;
	font-size: 2em;
	margin: 3px 10px 0 10px;
}

.pageLinksContact {
	background-image: url("../images/confectionary.png");
	border-radius: 10px;
	float: right;
	padding: 4px 10px 4px 10px;
	font-size: 2em;
	margin: 3px 0 0 10px;
}

.pageLinks:hover {
	background-image: url("../images/containerBG.png");
	border-radius: 10px;
	float: right;
	padding: 4px 10px 4px 10px;
	font-size: 2em;
	margin: 3px 10px 0 10px;
}

.pageLinksContact:hover {
	background-image: url("../images/containerBG.png");
	border-radius: 10px;
	float: right;
	padding: 4px 10px 4px 10px;
	font-size: 2em;
	margin: 3px 0 0 10px;
}

.container {
	margin: 10px 10px 0 10px;
	clear: both;
	overflow: hidden;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-width: 5px;
	border-bottom-color: #222;
	border-bottom-style: solid;
	background-image: url("../images/containerBG.png");
	background-repeat: repeat;
	width: 960px;
}

.aboutMe {
	width: 600px;
	float: left;
	margin: 12px 0px 12px 12px;
	background-image: url("../images/confectionary.png");
	border-top-right-radius: 19px;
	border-top-left-radius: 19px;
	padding: 20px 25px 25px 25px;
}

.aboutMeTitle {
	background-image: url("../images/containerBG.png");
	border-radius: 10px;
	padding: 10px 0 0 30px;
	margin-bottom: 18px;
	height: 40px;
	width: 170px;
}

.imgWrap {
	margin: 7px 10px 0 0;
	overflow:hidden;
    border-radius: 12px;
    border: 0px;
    display:inline-block;
    float: left;
}

p.aboutMeText {
	font-size: 1.2em;

}

.aboutMeText::first-letter {
	font-size: 1.5em;
	color: rebeccapurple;
	padding: 1px;
	margin-left: -3px;
}

.float {
	height: 100px;
	width: 270px;
	top: 112px;
	left: 686px;
	background-image: url("../images/confectionary.png");
	border-radius: 19px;
	position: fixed;
}

.linkImgFloat {
	float: left;
}

.footer {
	clear: both;
	text-align: center;
	padding: 15px;
	background-color: #666;
	font-size: .8em;
	color: lightgray;
	margin: 0 10px 10px 10px;
	width: 930px;
}

body {
	font-size: 13.66px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 3em;
	margin-top: 30px;
	color: #444;
}

h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 2.2em;
	color: #444;
}



/*CONTACT SPECIFIC (Mostly)*/



.contactQ {
	color: #444;
	font-size: 1.2em;
	font-weight: 700;
}

.contactA {
	margin-left: 5px;
}

.aboutMeContact {
	background-image: url("../images/containerBG.png");
	border-radius: 10px;
	padding: 10px 0 0 42px;
	margin-bottom: 18px;
	height: 40px;
	width: 158px;
}

/*PORTFOLIO SPECIFIC*/

.aboutMePortfolio {
	background-image: url("../images/containerBG.png");
	border-radius: 10px;
	padding: 10px 0 0 42px;
	margin-bottom: 18px;
	height: 40px;
	width: 158px;
}

.portEntry {
	float: left;
	border-radius: 9px;
	overflow: hidden;
	margin: 37px;
	position: relative;
	width: 225px;
}

.portDesc {
	position: absolute;
	background-image: url("../images/containerBG.png");
	border-radius: 9px;
	width: 180px;
	height: 50px;
	bottom: 30px;
	right: 20px;
}

.portDesc:hover {
	position: absolute;
	background-image: url("../images/confectionary.png");
	border-radius: 9px;
	width: 180px;
	height: 50px;
	bottom: 30px;
	right: 20px;
}

h3 {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.5em;
	color: #444;
	margin-top: 15px;
}


